/* Write your CSS here */
.team-card-item {
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 250px;
  margin-right: 20px;
}

.team-image {
  width: 70px;
  height: 100px;
  margin-right: 10px;
}

.team-name {
  font-size: 18px;
  font-family: Bree Serif;
  color: #ffffff;
  text-align: center;
}

.team-link {
  text-decoration: none;
}
